@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<html>
<head>
    <title>我的git作业提交</title>
</head>
<body>
    <h1>我真的是sss 一脸懵逼</h1>
    <p style="color:red">一入编程深似海啊</p><br />
    <p>希望我的 ASP.NET越学越好</p><br />
    
    
</body>
</html>